<section class="section about" id="about">
 <div class="container about-container">
  <ul class="about-list-images">
   <li>
    <picture>
     <source
      media="(min-width: 1200px)"
      srcset="
       /images/about/about_desk@1x.webp 1x,
       /images/about/about_desk@2x.webp 2x
      "
      type="image/webp"
     />
     <source
      media="(min-width: 1200px)"
      srcset="
       /images/about/about_desk@1x.jpg 1x,
       /images/about/about_desk@2x.jpg 2x
      "
      type="image/jpg"
     />
     <source
      media="(min-width: 768px)"
      srcset="
       /images/about/about_tab@1x.webp 1x,
       /images/about/about_tab@2x.webp 2x
      "
      type="image/webp"
      width="330"
     />
     <source
      media="(min-width: 768px)"
      srcset="
       /images/about/about_tab@1x.jpg 1x,
       /images/about/about_tab@2x.jpg 2x
      "
      type="image/jpg"
      width="330"
     />
     <img
      src="/images/about/about_desk@1x.jpg"
      alt="about photo 1"
      width="270"
      height="445"
      loading="lazy"
     />
    </picture>
   </li>
   <li>
    <picture>
     <source
      media="(min-width: 1200px )"
      srcset="
       /images/about/about2_desk@1x.webp 1x,
       /images/about/about2_desk@2x.webp 2x
      "
      type="image/webp"
     />
     <source
      media="(min-width: 1200px)"
      srcset="
       /images/about/about2_desk@1x.jpg 1x,
       /images/about/about2_desk@2x.jpg 2x
      "
      type="image/jpg"
     />
     <source
      media="(min-width: 768px)"
      srcset="
       /images/about/about2_tab@1x.webp 1x,
       /images/about/about2_tab@2x.webp 2x
      "
      type="image/webp"
      width="330"
     />
     <source
      media="(min-width: 768px)"
      srcset="
       /images/about/about2_tab@1x.jpg 1x,
       /images/about/about2_tab@2x.jpg 2x
      "
      type="image/jpg"
      width="330"
     />
     <img
      src="/images/about/about2_desk@1x.jpg"
      alt="about photo 2"
      width="270"
      height="445"
      loading="lazy"
     />
    </picture>
   </li>
  </ul>
  <div>
   <p class="uppertitle uppertitle-dark">About</p>
   <h2 class="title about-title">
    Best Barbershop in your city
   </h2>
   <p
    class="subtitle subtitle-dark about-text-accent"
   >
    If you want to add more confidence to your
    image, you should visit us
   </p>
   <p class="about-text">
    We are a team that never stops at what has
    been achieved and are thirsty for changes. And
    when you fall into the hands of our master,
    you will never be the same again. We are a
    team that is always "on the same wave" with
    clients. Therefore, we are always ready to
    improve everyone who comes to us!
   </p>
   <button class="btn btn-dark js-open-modal">
    online-booking
   </button>
  </div>
 </div>
</section>
