<section class="section barbers" id="barbers">
 <div class="container barbers-container">
  <p class="uppertitle uppertitle-dark">
   For true enjoyers of the atmosphere
  </p>
  <h2 class="title barbers-title">Our barbers</h2>
  <ul class="barbers-list">
   <% barbers.forEach(barber => { %> <%-
   include('./barber/barber',{ barber} ); %> <%
   }); %>
  </ul>
 </div>
</section>
