<section class="section barbers" id="barbers">
 <div class="container barbers-container">
  <p class="uppertitle uppertitle-dark">
   For true enjoyers of the atmosphere
  </p>
  <h2 class="title barbers-title">Our barbers</h2>
  <ul class="barbers-list">
   <li class="barbers-item">
    <div class="barbers-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers_desk@1x.webp 1x,
        /images/barbers/barbers_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers_desk@1x.jpg 1x,
        /images/barbers/barbers_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers_tab@1x.webp 1x,
        /images/barbers/barbers_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers_tab@1x.jpg 1x,
        /images/barbers/barbers_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers_mob@1x.webp 1x,
        /images/barbers/barbers_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers_mob@1x.jpg 1x,
        /images/barbers/barbers_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/barbers/barbers_tab@1x.jpg"
       alt="John Smith"
       width="450"
       height="346"
       loading="lazy"
      />
     </picture>
    </div>
    <h3 class="barbersName">John Smith</h3>
    <span class="barbers-subtext"
     >Extreme Barber</span
    >
    <ul class="social-list">
     <li>
      <a
       class="social-link"
       href="https://www.instagram.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#instagram"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://x.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#x"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://facebook.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#facebook"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://linkedin.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#linkedin"
        ></use>
       </svg>
      </a>
     </li>
    </ul>
   </li>
   <li class="barbers-item">
    <div class="barbers-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers2_desk@1x.webp 1x,
        /images/barbers/barbers2_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers2_desk@1x.jpg 1x,
        /images/barbers/barbers2_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers2_tab@1x.webp 1x,
        /images/barbers/barbers2_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers2_tab@1x.jpg 1x,
        /images/barbers/barbers2_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers2_mob@1x.webp 1x,
        /images/barbers/barbers2_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers2_mob@1x.jpg 1x,
        /images/barbers/barbers2_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/barbers/barbers2_tab@1x.jpg"
       alt="Michele Doe"
       width="450"
       height="346"
       loading="lazy"
      />
     </picture>
    </div>
    <h3 class="barbersName">Michele Doe</h3>
    <span class="barbers-subtext"
     >Extreme Barber</span
    >
    <ul class="social-list">
     <li>
      <a
       class="social-link"
       href="https://www.instagram.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#instagram"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://x.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#x"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://facebook.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#facebook"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://linkedin.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#linkedin"
        ></use>
       </svg>
      </a>
     </li>
    </ul>
   </li>
   <li class="barbers-item">
    <div class="barbers-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers3_desk@1x.webp 1x,
        /images/barbers/barbers3_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/barbers/barbers3_desk@1x.jpg 1x,
        /images/barbers/barbers3_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers3_tab@1x.webp 1x,
        /images/barbers/barbers3_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/barbers/barbers3_tab@1x.jpg 1x,
        /images/barbers/barbers3_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers3_mob@1x.webp 1x,
        /images/barbers/barbers3_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/barbers/barbers3_mob@1x.jpg 1x,
        /images/barbers/barbers3_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/barbers/barbers3_tab@1x.jpg"
       alt="Alan Black"
       width="450"
       height="346"
       loading="lazy"
      />
     </picture>
    </div>
    <h3 class="barbersName">Alan Black</h3>
    <span class="barbers-subtext"
     >Extreme Barber</span
    >
    <ul class="social-list">
     <li>
      <a
       class="social-link"
       href="https://www.instagram.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#instagram"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://x.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#x"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://facebook.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#facebook"
        ></use>
       </svg>
      </a>
     </li>
     <li>
      <a
       class="social-link"
       href="https://linkedin.com/"
       target="_blank"
       rel="noreferrer noopener"
      >
       <svg
        class="social-icon"
        width="20"
        height="20"
       >
        <use
         href="/images/icons/sprite.svg#linkedin"
        ></use>
       </svg>
      </a>
     </li>
    </ul>
   </li>
  </ul>
 </div>
</section>
