<footer class="footer">
 <div class="container footer-container">
  <a
   class="footer-github-link"
   href="https://github.com/BorovChe"
   target="_blank"
   rel="noreferrer noopener"
  >
   <svg
    class="footer-github-icon"
    width="16"
    height="16"
   >
    <use
     href="/images/icons/sprite.svg#github"
    ></use>
   </svg>
   BorovChe</a
  >
  <ul class="footer-media-list">
   <li>
    <a
     class="media-link"
     href="https://www.instagram.com/"
     target="_blank"
     rel="noreferrer noopener"
     >Instagram</a
    >
   </li>
   <li>
    <a
     class="media-link"
     href="https://www.youtube.com/"
     target="_blank"
     rel="noreferrer noopener"
     >Youtube</a
    >
   </li>
  </ul>
 </div>
</footer>
