<header class="header fix-block">
 <div class="container header-container">
  <a class="header-logo-link" href="">
   <svg
    class="header-icons"
    width="69"
    height="56"
   >
    <use
     href="/images/icons/sprite.svg#logo"
    ></use>
   </svg>
  </a>
  <nav class="header-nav">
   <ul class="header-nav-list">
    <li>
     <a class="header-nav-link" href="#about"
      >About</a
     >
    </li>
    <li>
     <a class="header-nav-link" href="#price"
      >Services and prices</a
     >
    </li>
    <li>
     <a class="header-nav-link" href="#barbers"
      >Barbers</a
     >
    </li>
    <li>
     <a class="header-nav-link" href="#contacts"
      >Contacts</a
     >
    </li>
   </ul>
  </nav>
  <div class="header-contacts">
   <a
    class="header-contacts-link"
    href="tel:+380441111111"
   >
    +38 044 111 11 11
   </a>
   <button
    class="btn header-contacts-btn js-open-modal"
    type="button"
   >
    Online-booking
   </button>
  </div>
  <button class="btn-menu js-open-menu">
   <svg
    class="header-icons burgerMenu-icon"
    width="24"
    height="16"
   >
    <use
     href="/images/icons/sprite.svg#burgerMenu"
    ></use>
   </svg>
  </button>
 </div>
</header>
