<div class="scroll-top-container fix-block">
 <button class="btn-scroll-top hide-scroll">
  <svg
   class="scroll-top-icon"
   width="24"
   height="24"
  >
   <use
    href="/images/icons/sprite.svg#arrow-top"
   ></use>
  </svg>
 </button>
</div>
<div class="menu-backdrop js-menu-backdrop">
 <div class="menu">
  <button class="menu-close-btn js-close-menu">
   <svg
    class="menu-close-icon"
    width="26"
    height="26"
   >
    <use
     href="/images/icons/sprite.svg#close"
    ></use>
   </svg>
  </button>
  <ul class="menu-nav-list">
   <li>
    <a
     class="menu-nav-link js-menu-nav-link"
     href="#about"
     >About</a
    >
   </li>
   <li>
    <a
     class="menu-nav-link js-menu-nav-link"
     href="#price"
     >Services and prices</a
    >
   </li>
   <li>
    <a
     class="menu-nav-link js-menu-nav-link"
     href="#barbers"
     >Barbers</a
    >
   </li>
   <li>
    <a
     class="menu-nav-link js-menu-nav-link"
     href="#contacts"
     >Contacts</a
    >
   </li>
  </ul>
  <a
   class="menu-contacts-link"
   href="tel:+380441111111"
  >
   +38 044 111 11 11
  </a>
  <button
   class="btn menu-booking-btn js-open-modal"
   type="button"
  >
   Online-booking
  </button>
  <ul class="menu-media-list">
   <li>
    <a
     class="media-link menu-media-link"
     href="https://www.instagram.com/"
     target="_blank"
     rel="noreferrer noopener"
     >Instagram</a
    >
   </li>
   <li>
    <a
     class="media-link menu-media-link"
     href="https://www.youtube.com/"
     target="_blank"
     rel="noreferrer noopener"
     >Youtube</a
    >
   </li>
  </ul>
 </div>
</div>
