<section class="section portfolio">
 <div class="container">
  <p
   class="uppertitle uppertitle-dark uppertitle-portfolio"
  >
   In Latin, "barba" means "beard"
  </p>
  <h2 class="hidden">Portfolio</h2>
  <ul class="portfolio-list">
   <li>
    <div class="portfolio-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio_desk@1x.webp 1x,
        /images/portfolio/portfolio_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio_desk@1x.jpg 1x,
        /images/portfolio/portfolio_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio_tab@1x.webp 1x,
        /images/portfolio/portfolio_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio_tab@1x.jpg 1x,
        /images/portfolio/portfolio_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio_mob@1x.webp 1x,
        /images/portfolio/portfolio_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio_mob@1x.jpg 1x,
        /images/portfolio/portfolio_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/portfolio/portfolio_mob@1x.jpg"
       alt="Portfolio image"
       width="418"
       height="360"
       loading="lazy"
      />
     </picture>
    </div>
   </li>
   <li>
    <div class="portfolio-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio2_desk@1x.webp 1x,
        /images/portfolio/portfolio2_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio2_desk@1x.jpg 1x,
        /images/portfolio/portfolio2_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio2_tab@1x.webp 1x,
        /images/portfolio/portfolio2_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio2_tab@1x.jpg 1x,
        /images/portfolio/portfolio2_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio2_mob@1x.webp 1x,
        /images/portfolio/portfolio2_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio2_mob@1x.jpg 1x,
        /images/portfolio/portfolio2_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/portfolio/portfolio2_mob@1x.jpg"
       alt="Portfolio image"
       width="418"
       height="360"
       loading="lazy"
      />
     </picture>
    </div>
   </li>
   <li>
    <div class="portfolio-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio3_desk@1x.webp 1x,
        /images/portfolio/portfolio3_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio3_desk@1x.jpg 1x,
        /images/portfolio/portfolio3_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio3_tab@1x.webp 1x,
        /images/portfolio/portfolio3_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio3_tab@1x.jpg 1x,
        /images/portfolio/portfolio3_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio3_mob@1x.webp 1x,
        /images/portfolio/portfolio3_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio3_mob@1x.jpg 1x,
        /images/portfolio/portfolio3_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/portfolio/portfolio3_mob@1x.jpg"
       alt="Portfolio image"
       width="418"
       height="360"
       loading="lazy"
      />
     </picture>
    </div>
   </li>
   <li>
    <div class="portfolio-thumb">
     <picture>
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio4_desk@1x.webp 1x,
        /images/portfolio/portfolio4_desk@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 1200px)"
       srcset="
        /images/portfolio/portfolio4_desk@1x.jpg 1x,
        /images/portfolio/portfolio4_desk@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio4_tab@1x.webp 1x,
        /images/portfolio/portfolio4_tab@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(min-width: 768px)"
       srcset="
        /images/portfolio/portfolio4_tab@1x.jpg 1x,
        /images/portfolio/portfolio4_tab@2x.jpg 2x
       "
       type="image/jpg"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio4_mob@1x.webp 1x,
        /images/portfolio/portfolio4_mob@2x.webp 2x
       "
       type="image/webp"
      />
      <source
       media="(max-width: 767px)"
       srcset="
        /images/portfolio/portfolio4_mob@1x.jpg 1x,
        /images/portfolio/portfolio4_mob@2x.jpg 2x
       "
       type="image/jpg"
      />
      <img
       src="/images/portfolio/portfolio4_mob@1x.jpg"
       alt="Portfolio image"
       width="418"
       height="360"
       loading="lazy"
      />
     </picture>
    </div>
   </li>
  </ul>
 </div>
</section>
