<section class="section portfolio">
 <div class="container">
  <p
   class="uppertitle uppertitle-dark uppertitle-portfolio"
  >
   In Latin, "barba" means "beard"
  </p>
  <h2 class="hidden">Portfolio</h2>
  <ul class="portfolio-list">
   <% portfolio.forEach( (pct) => { %> <%-
   include('./portfolio/picture',{ pct} ); %> <%
   }); %>
  </ul>
 </div>
</section>
