<section class="section price" id="price">
  <div class="container">
    <p class="uppertitle">Spend your time with the best masters</p>
    <h2 class="title price-title">Services and prices</h2>
    <div class="price-block">
      <ul class="price-list price-list-left">
        <li class="price-item">
          <span class="price-service">Men’s haircut</span> from 300 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Beard trim</span> from 200 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Mustache trim</span> from 200 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Straight razor shave</span> from 200 uah.
        </li>
      </ul>
      <ul class="price-list price-list-right">
        <li class="price-item">
          <span class="price-service">Trainee’s haircut</span> from 50 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Haircut under the nozzle</span> from 200
          uah.
        </li>
        <li class="price-item">
          <span class="price-service">Children’s haircut (0-12 y.o.)</span>
          from 300 uah.
        </li>
        <li class="price-item">
          <span class="price-service">Camouflage of grey hair </span>from 200
          uah.
        </li>
      </ul>
    </div>
    <button class="btn price-btn js-open-modal">online-booking</button>
  </div>
</section>
