.user-info {
 padding: 20px;
 border-radius: 8px;
 max-width: 500px;
 margin: 0 auto;
 margin-top: 2rem;

 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.979);
 background-color: #0009;
 font-family: 'Arial', sans-serif;
}

.user-info h2 {
 color: #4caf4f83;
 font-size: 1.8em;
 margin-bottom: 15px;
}

.user-info p {
 font-size: 1.1em;
 color: #333;
 margin: 5px 0;
}

.user-info p:first-child {
 font-weight: bold;
}

.user-info p {
 line-height: 1.5;
}
.close-btn {
 padding: 10px 20px;
 font-size: 1.1em;
 margin-top: 20px;
 border-radius: 5px;
 width: 100%;

 cursor: pointer;
 display: block;
 border: none;
 text-align: center;
 background-color: #f4433675;
 color: white;
 transition: background-color 0.3s;
}

.close-btn:hover {
 background-color: #d32f2f91;
}
