<div class="user-info">
 <h2>You successful send message!</h2>
 <p>name:<%= user.name %></p>
 <p>phone:<%= user.phone %></p>
 <p>message:<%= user.message %></p>

 <a href="/" class="close-btn">Close</a>
</div>
