<ul class="header-nav-list">
 <li>
  <a class="header-nav-link" href="#about">
   About
  </a>
 </li>
 <li>
  <a class="header-nav-link" href="#price">
   Services and prices
  </a>
 </li>
 <li>
  <a class="header-nav-link" href="#barbers">
   Barbers
  </a>
 </li>
 <li>
  <a class="header-nav-link" href="#contacts">
   Contacts
  </a>
 </li>
</ul>
