 <section class="section contacts" id="contacts">
          <div class="container contacts-container">
            <h2 class="title contacts-title">Contacts</h2>
            <div class="contacts-block">
              <address class="contacts-address">
                <ul class="contacts-list">
                  <li class="contacts-item">
                    <svg width="24" height="24">
                      <use href="/images/icons/sprite.svg#map"></use>
                    </svg>
                    <a
                      class="contacts-map"
                      href="https://www.google.com/maps/place/%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4020355,30.5326905,10z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4503596!4d30.5245025!16zL20vMDJzbjM0?entry=ttu"
                      target="_blank"
                      rel="noreferrer noopener"
                      >st. Vasilkovaya, 7A Kiev, 08132</a
                    >
                  </li>
                  <li class="contacts-item">
                    <svg width="24" height="24">
                      <use href="/images/icons/sprite.svg#phone"></use>
                    </svg>
                    <a class="contacts-phone" href="tel:+380441111111"
                      >+38 044 111 11 11</a
                    >
                  </li>
                  <li class="contacts-item">
                    <svg width="24" height="24">
                      <use href="/images/icons/sprite.svg#mail"></use>
                    </svg>
                    <a class="contacts-email" href="mailto:barbershop@email.com"
                      >barbershop@email.com</a
                    >
                  </li>
                </ul>
              </address>
              <div>
                <p class="uppertitle contacts-uppertitle">Working hours</p>
                <p class="contacts-hours">Every day from 9:00 to 22:00</p>
              </div>
            </div>
          </div>
        </section>
      </div>